html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}